<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
          </li>
  
          <li<%= sidebar_current("docs-sdwan-index") %>>
          <a href="/docs/providers/sdwan/index.html">SDWAN Provider</a>
          </li>
  

  
          <li<%= sidebar_current("docs-sdwan-datasource") %>>
          <a href="#">Data Sources</a>
                  <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-sdwan-data-source-device_template") %>>
                      <a href="/docs/providers/sdwan/d/device_template.html">sdwan_device_template</a>
                    </li>
                    <li<%= sidebar_current("docs-sdwan-data-source-devices_attachment") %>>
                      <a href="/docs/providers/sdwan/d/devices_attachment.html">sdwan_devices_attachment</a>
                    </li>
                    <li<%= sidebar_current("docs-sdwan-data-source-system_feature_template") %>>
                      <a href="/docs/providers/sdwan/d/system_feature_template.html">sdwan_system_feature_template</a>
                    </li>                    
                    <li<%= sidebar_current("docs-sdwan-data-source-ntp_feature_template") %>>
                      <a href="/docs/providers/sdwan/d/ntp_feature_template.html">sdwan_ntp_feature_template</a>
                    </li>
                    <li<%= sidebar_current("docs-sdwan-data-source-vpn_feature_template") %>>
                      <a href="/docs/providers/sdwan/d/vpn_feature_template.html">sdwan_vpn_feature_template</a>
                    </li>
                  </ul>
          </li>
          <li<%= sidebar_current("docs-sdwan-resource") %>>
          <a href="#">Resources</a>
                  <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-sdwan-resource-device_template") %>>
                      <a href="/docs/providers/sdwan/r/device_template.html">sdwan_device_template</a>
                    </li>
                    <li<%= sidebar_current("docs-sdwan-resource-devices_attachment") %>>
                      <a href="/docs/providers/sdwan/r/devices_attachment.html">sdwan_devices_attachment</a>
                    </li>
                    <li<%= sidebar_current("docs-sdwan-resource-system_feature_template") %>>
                      <a href="/docs/providers/sdwan/r/system_feature_template.html">sdwan_system_feature_template</a>
                    </li>
                    <li<%= sidebar_current("docs-sdwan-resource-ntp_feature_template") %>>
                    <a href="/docs/providers/sdwan/r/ntp_feature_template.html">sdwan_ntp_feature_template</a>
                  </li>
                  <li<%= sidebar_current("docs-sdwan-resource-vpn_feature_template") %>>
                    <a href="/docs/providers/sdwan/r/vpn_feature_template.html">sdwan_vpn_feature_template</a>
                  </li>
                  </ul>
          </li>
        </ul>
      </div>
    <% end %>
  
    <%= yield %>
    <% end %>
